* {
box-sizing: border-box;
}

body {
    background-image: url(../images/bg-image.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

a {
    color: #00CED1;
    transition: all 0.2s;
}

a:hover {
    opacity:0.6;
}

a:active {
    opacity:1;
}